$header-padding: 28px 120px 28px 120px;
$header-tablet-p: 19px 80px 19px 80px ;
$header-mobile-p: 13px 24px 13px 24px ;
$hero-footer-background: rgb(247, 247, 247);
$grey: rgb(129, 139, 156);
$home-page-padding-desktop: 0px 120px;
$product-info-margin: 52px 120px 32px 120px;
$product-info-margin-xl: 52px 80px 32px 80px;
$product-info-margin-sm: 52px 24px 32px 24px;